*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;

}

.navbar {
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    min-height: 100px;
}

.nav-link { color:black; border-radius: 24px;}
.nav-link:hover{ color:black;}
.navbar-brand{ color: #000000;}
.navbar-toggler{ font-size: 40px;}
.navbar-toggler:focus{ outline: none;}

.nav-item a:hover{
    background: #3282b8;
    color: #fff;
}

#map{
    height: 700px;
    width: 100%;
}