{% extends 'base.html' %}
{% load static ("planes.css") %]
{% load static %}

{% block content %}
<link href="{% static 'css/planes.css' %}" rel="stylesheet">
<div class="row row-cols-1 row-cols-md-3">
  {% for plan in planes %}
  <div class="col mb-3">
    <div class="card h-100">
      <img src="{{ plan.imagen.url }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ plan }} :</h5>
        <p class="card-text">{{ plan.descripcion }}</p>
      </div>
      <div class="card-footer bg-transparent">
        <a  class="btn btn-primary" data-toggle="modal" data-target="#pagarPlan">Nose</a> 
        <button class="btn btn-primary  align-content-center " href="{% url 'plan_venta' pk=plan.pk %}" data-toggle="modal" data-target="#pagarPlan"> COMPRAR</BUtton>
          <h2><a href="{% url 'plan_venta' pk=plan.pk %}"> comprar </a></h2>
        </div>
      
    </div>
  </div>
  {% endfor %}


  

</div>   
  <br>
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <div class="form-group mb-2">
                <h1>Recibe nuestras novedades</h1>
            </div>
          </div>
          <div class="col-sm">
            <form  id="form-nuevousuario" method="POST">     
                <div class="form-group ">
                  <label for="idNombreCompleto" class="sr-only">Email</label>
                  <input type="email" class="form-control" placeholder="Email" id="idNombreCompleto" name="idNombreCompleto" required />
                </div>
                
              </form>
          </div>
          <div class="col-sm">
            <button type="submit" class="btn btn-primary mb-2">Registrar</button>    
          </div>
        </div>
      </div>
{% endblock %}