{% extends 'base.html' %}
{% load static %}
  {% block content %}
  <link href="{% static 'css/Mapa.css' %}" rel="stylesheet">
      <hr>
      <div id="map">
        s
      </div>
      <hr>

    <script src="{% static 'js/mapa.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDaeWicvigtP9xPv919E-RNoxfvC-Hqik&callback=iniciarMap"></script>
    {% endblock %}
    <script src="{% static 'js/mapa.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDaeWicvigtP9xPv919E-RNoxfvC-Hqik&callback=iniciarMap"></script>